body {background-color: powderblue; text-align: center;}
div{
  background-color: white;
  margin: 100px;
}
h1   {color: blue;
  text-align: left;
}
p    {color: red;}
input{
  padding-left: 20px;
  margin: 10px;
  color: blue;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: whitesmoke;
}
button{
  color: white;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 45px;
  background-color: blue;
  margin: 10px;
  border: none;
}
p{
  color: blue;
  
  font-size: 30px;
  margin: 10px;
}
form{
  margin: 20px;
}